header img{
    height: 40px;
    width: 70px;
    display: inline-block;
    margin-top: 4px;
}

header form{
    height: 100px;
    float: right;

}

header input{
    height: 30px;
    width: 350px;
    margin: 5px;
}

header input::placeholder{
    font-weight: 500;
    color: black;
    font-size: medium;

}

header{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

header button{
    height: 35px;
    font-weight: bold;  
    font-size: 12px;
    border-radius: 5px;
    border-color: rgb(85, 2, 76);
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin: 6px;
}

header button:hover{
    border-color:rgb(216, 5, 192);
}

#register{
    background-color: rgb(85, 2, 76);
    color: white;
    width: 100px;
    margin-right: 15px;
}

#register:hover{
    background-color:rgb(216, 5, 192);
}

#sign-in:hover{
    color: rgb(216, 5, 192)
}
#sign-in{
    color: rgb(85, 2, 76);
    background-color: white;
    width: 70px;
}


body{
    background-image: linear-gradient(rgb(255, 219, 223), rgb(255, 67, 158), rgb(255, 0, 149));
    background-attachment: fixed;
    margin: 0px;
}

footer{
    background-color:black;
    color: white;
    text-align: center;
    height: 55px;
}

footer p{
    margin: auto;
    padding: 20px;
    font-size: smaller;
}

.main-content{
    background-color: white;
    position: sticky;
    width: 900px;
    text-align: left;
    margin: auto;
    margin-top: 15px;
    border-radius: 4px;
    padding: 20px;
}

.top-main-content{
    margin-top: 75px;
    margin-left: 160px;
}

.top-main-content img{
    display: inline-block;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-button{
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}
.dropdown-content a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 8px 10px;
}

.dropdown-content a:hover{
    background-color: rgb(236, 188, 236);
    color:rgb(166, 6, 187);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(228, 228, 228);
    border: solid 2px lightgrey;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

